<title>{{ title || '爱上我科技' }}</title>

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<meta name="format-detection" content="address=no" />

{% if css && css|typeof == 'string' %}
<link rel="stylesheet" type="text/css" href="{{GLOBAL.STATIC_HOST}}/css/{{css}}"/>
{% else %}
{% for style in css %}
<link rel="stylesheet" type="text/css" href="{{GLOBAL.STATIC_HOST}}/css/{{style}}"/>
{% endfor %}
{% endif %}

<script type="text/javascript">
    //根据屏幕大小及dpi调整缩放和大小
    (function() {
        var scale = 1.0;
        var ratio = 1;

        var ua = navigator.userAgent;
        var isChrome = ua.match(/Chrome\/([\d.]+)/) || ua.match(/CriOS\/([\d.]+)/);

        if (window.devicePixelRatio >= 2 && !isChrome) {
            scale *= 0.5;
            ratio *= 2;
        }
        var text = '<meta name="viewport" content="initial-scale=' + scale + ', maximum-scale=' + scale +', minimum-scale=' + scale + ', width=device-width, user-scalable=no" />';
        document.write(text);
        document.documentElement.style.fontSize = 50*ratio + "px";
    })();
</script>